body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #003049;
  background-color: #fdf0d5;
  border: 8px solid #003049;
}

p,
q {
  line-height: 1.8;
}
h2 {
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
}

.tm-name {
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
}

.tm-quote {
  font-family: "Raleway", sans-serif;
  font-size: 1.35rem;
  font-style: italic;
}

.container {
  margin-top: 30px;
}

.tm-container-inner {
  margin: 0 auto;
  max-width: 880px;
}

.tm-section {
  background-color: #fdf0d5;
}

.tm-section,
.tm-section-min-h {
  min-height: 400px;
}

.tm-flex-center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tm-flex-col {
  flex-direction: column;
}

.tm-mb-30 {
  margin-bottom: 30px;
}

.tm-align-left {
  align-self: left;
}

.tm-bg-color-primary {
  background-color: #780000;
}
.tm-bg-color-secondary {
  background-color: #003049;
}
.tm-bg-color-gray {
  background-color: #666666;
}
.tm-text-color-primary {
  color: #780000;
}
.tm-text-color-white {
  color: #fcf7e5;
}
.tm-text-color-gray {
  color: #233d4d;
}
.tm-font-thin {
  font-weight: 300;
}
.tm-max-w-400 {
  max-width: 400px;
}
